@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
body {
    font-family: 'Open Sans', sans-serif;
    color: rgba(255, 255, 255, 1);
    line-height: 2em;
    font-size: 14px;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    padding-right: 0px !important;
}

.loader-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.75);
    z-index: 1100;
    text-align: center;
}

.loader-wrapper > img {
    width: 100px;
    top: 50%;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.title-font {
    font-family: 'Roboto Condensed', sans-serif;
}

.orange-header {
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    height: 70px;
    margin: 0;
    border-radius: 0px;
    z-index:999;
}

.view {
    color: #db812e;
    cursor: pointer;
}


.phone-contact {
    position: fixed;
    right: -10px;
    top: 50%;
    z-index: 99;
    -webkit-transform: translateX(150px);
    transform: translateX(150px);
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.phone-contact1 {
    position: fixed;
    right: -10px;
    top: 50%;
    z-index: 99;
    -webkit-transform: translateX(150px);
    transform: translateX(150px);
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.phone-contact:hover
{
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}
.phone-contact1:hover
{
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}
.phone-contact.active {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}

.phone-contact1.active {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}

.phone-icon {
    height: 70px;
    width: 43px;
    background: #db812e;
    border-bottom-left-radius: 60px;
    border-top-left-radius: 60px;
    padding: 20px 15px;
    -webkit-box-shadow: 0px 0px 10px 1px #696969;
    box-shadow: 0px 0px 10px 1px #696969;
    cursor: pointer;
}

.phone-no {
    background: #000000;
    padding: 18px;
    font-weight: 700;
    font-size: 16px;
}

.phone-no a {
    text-decoration: none;
    color: #fff;
}

.phone-no a:hover {
    color: #fff;
    text-decoration: none;
}

nav.desktop-menu ul {
    margin: 0;
    padding-right: 50px;
}

nav.desktop-menu ul li {
    display: inline-block;
    padding: 0px 15px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

nav.desktop-menu ul li a {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    -webkit-transition: 0.25s linear;
    transition: 0.25s linear;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Roboto Condensed', sans-serif;
}

nav.desktop-menu ul li a:hover {
    color: #db812e;
}

.magZero {
    margin: 0;
}

.mobile-menu-wrapper i {
    cursor: pointer;
    font-size: 24px;
    color: rgba(255, 255, 255, 1);
    z-index: 9;
    position: relative;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.mobile-menu {
    display: block;
    position: absolute;
    left: -1px;
    right: -1px;
    background: url(../images/landing-back.jpg);
    top: 60px;
    z-index: 9;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(4, 4, 4, 0.5);
    box-shadow: 0px 5px 10px 0px rgba(4, 4, 4, 0.5);
}

nav.mobile-menu ul {
    padding-left: 0;
}

nav.mobile-menu ul li {
    display: block;
    list-style: none;
    padding: 10px 20px;
    text-align: left;
    cursor: pointer;
}

nav.mobile-menu ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

nav.footer-menu ul li {
    display: inline-block;
    padding: 10px 15px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

nav.footer-menu ul li a {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    -webkit-transition: 0.25s linear;
    transition: 0.25s linear;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Roboto Condensed', sans-serif;
}

nav.footer-menu ul li a:hover {
    color: #db812e;
}

.mobile-menu-wrapper {
    padding: 20px;
}

.logo {
    padding: 0 20px;
    display: inline-block;
    margin-bottom: -10px;
}

.sticky-one {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    z-index: 999;
    background: url(../images/landing-back.jpg);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(58, 58, 58, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(58, 58, 58, 0.5);
    border-radius: 0px;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    z-index: 999;
    background: url(../images/landing-back.jpg);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(58, 58, 58, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(58, 58, 58, 0.5);
    border-radius: 0px;
}

.header-offset {
    height: 70px;
}

.sticky .desktop-menu ul li:last-child {
    display: inline-block !important;
    padding: 0;
}

.align-vertical {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
span.error
{
    color: red;
}
.booking-section {
    height: 100px;
    background: #3A3A3A;
}

.book-now {
    padding: 10px 20px;
    border: 1px solid #fff;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #000 !important;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #000 !important;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
}

::-ms-input-placeholder {
    color: #000 !important;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
}

::placeholder {
    color: #000 !important;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
}

select,
input  {
    color: #000 !important;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
}
label
{
    color: #252429;
    font-family: 'Roboto Condensed', sans-serif;
}
input:focus,
select:focus,
button:focus,
option:focus,
a:focus {
    outline: 0;
    text-decoration: none;
    color: #fff;
}
#photo:focus
{
    border:0px;
    outline: 0;
}
#photo
{
    border:0px;
    box-shadow: none !important;
    padding:0px;
    outline: 0;
}
.model-form
{
    padding:70px 0;
}
#suggestedService {
    list-style: none;
    color: #000;
}

#suggestedService li {
    display: inline-block;
    padding: 2px 15px;
    background: #D1D1D1;
    margin: 3px;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif;
}

.viewmore {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    color: #000;
    cursor: pointer;
}

.viewless {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    color: #000;
    cursor: pointer;
    display: none;
}

.suggestedService ul li.tagit-new {
    display: none;
}

.landing-page {
    
    position: relative;
    background: url(../images/landing-back.jpg);
    height: 100vh;
}

.slider-img-2 {
    background: url("../images/landing-back.jpg");
}

.slider-img-3 {
    background: url("../images/landing-back.jpg");
}

.slider.bx-clone {
    overflow: hidden;
}

.landing-circle {
    position: absolute;
    top: -300px;
    z-index: 1;
    right: -180px;
}

.bx-wrapper .bx-pager {
    bottom: 0 !important;
    top: 0;
    left: 60px;
    width: 20px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.orange-btn {
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
}

.orange-btn:hover {
    text-decoration: none;
    color: #db812e;
}

.m-top-30 {
    margin-top: 30px;
}

.m-bottom-30 {
    margin-bottom: 30px;
}

.m-top-20 {
    margin-top: 20px;
}

.m-top-50 {
    margin-top: 50px;
}

.m-top-45-minus {
    margin-top: -45px;
}

.brand-text h1 {
    font-weight: 300;
    font-size: 62px;
    margin-bottom: 25px;
    line-height: 1em;
    font-family: 'Roboto Condensed', sans-serif;
}

.brand-text h5 {
    margin-bottom: 30px;
}

.highlighter {
    color: #db812e;
}

.slider-offset {
    margin-top: 60px;
    position: relative;
    z-index: 997;
}

.orange-wheel img {
    margin: 0 auto;
    position: relative;
    z-index: 30;
}

.whoweare-content h1 {
    font-size: 48px;
    font-weight: 300;
    color: #db812e;
    margin-bottom: 25px;
    font-family: 'Roboto Condensed', sans-serif;
}

.whoweare {
    height: 600px;
    position: relative;
    background: url(../images/landing-back.jpg);
    overflow: hidden;
}

.whoweare .layer1 {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: -3px;
    /*background: url(../images/whoweare-left.png);*/
    background-repeat: no-repeat;
    width: 70%;
}

.whoweare .layer1 img {
    position: absolute;
    height: 100%;
}

.whoweare .layer2 {
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    z-index: 9;
    top: 44px;
    margin-right: -130px;
}

.layer2 img {
    -webkit-filter: drop-shadow(10px 0px 10px #000000);
    filter: drop-shadow(10px 0px 10px #000000);
}

.line0 {
    position: absolute;
    right: 166px;
    z-index: 0;
    height: 60%;
    width: 40%;
    border-bottom: 1px solid #3A3A3A;
    -webkit-transform: rotate(328deg);
    transform: rotate(328deg);
    top: -345px;
    border-radius: 77%;
}

.line1 {
    position: absolute;
    right: 25px;
    z-index: 0;
    height: 60%;
    width: 50%;
    border-bottom: 1px solid #3A3A3A;
    -webkit-transform: rotate(328deg);
    transform: rotate(328deg);
    top: -213px;
    border-radius: 77%;
}

.line2 {
    position: absolute;
    right: -50px;
    z-index: 0;
    height: 60%;
    width: 56%;
    border-bottom: 1px solid #3A3A3A;
    -webkit-transform: rotate(340deg);
    transform: rotate(340deg);
    top: 90px;
    border-radius: 77%;
}

.services {
    position: relative;
    height: 630px;
    /*display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;*/
    padding: 40px 0 !important;
}

.service-title h1 {
    color: #db812e;
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 15px;
    margin-left: 65px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 0px;
}

.service-img {
    position: absolute;
    z-index: -1;
    top: 0;
    background: url(../images/services.png);
    /*background-attachment: fixed;*/
    bottom: -1px;
    width: 50%;
    background-repeat: no-repeat;
    left: 0;
    background-size: contain;
}

.padZero {
    padding: 0;
}

.padLeft {
    padding-left: 0px;
}

.padRight {
    padding-right: 0px;
}

.service-box {
    height: 500px;
    overflow: hidden;
    background: url(../images/landing-back.jpg);
    margin-left: 35px;
    border-radius: 4px;
}

.service-content {
    position: relative;
    top: 0px;
    left: 0px;
    padding: 0;
    margin: 0;
    list-style: none;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 20px;
}

.service-content li {
    height: 400px;
    overflow-y: scroll;
}

.service-content table {
    width: 100%;
}

.service-mobile table {
    width: 100%;
    font-size: 12px;
}

.service-mobile table th,
td {
    padding-left: 5px;
}

.service-content table th,
.service-mobile table th {
    background: #333333;
    padding: 5px 5px 5px 15px;
    border-radius: 2px;
    color: #acacac;
}

.service-mobile table th {
    background: #333333;
    padding: 5px;
}

.service-content table td {
    padding: 5px 5px 0px 15px;
    font-size: 13px;
}

.service-content h4 {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 25px;
    color: #db812e;
    font-size: 24px;
}

.service-mobile h4 {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 25px;
    color: #db812e;
    text-align: center;
}

.list-service {
    background: #252429;
    height: 500px;
    padding: 10px 15px 15px 15px;
    border-radius: 4px;
}

.list-service li {
    cursor: pointer;
    padding: 5px;
}

.down {
    padding-top: 10px;
    display: block;
    cursor: pointer;
}

.service-names {
    list-style: none;
    height: 390px;
    overflow-y: scroll;
    line-height: 18px;
}

.service-book {
    height: 343px;
    overflow-y: scroll;
}

.service-names h4 {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 10px;
    color: #db812e;
    font-size: 24px;
}

.book_div h4 {
    color: #000;
    font-weight: 600;
}

.service-mobile ul {
    height: 400px;
    overflow-y: scroll;
}

.service-content1 {
    color: #000;
}

.list-service .active {
    color: #db812e;
    font-weight: 600;
}

.list-service h4 {
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 25px;
    color: #db812e;
    font-size: 24px;
    text-align: center;
    
}

table {
    width: 100%;
}

.control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 0;
    bottom: 0;
    position: absolute;
}

.control img {
    cursor: pointer;
}

.prev {
    left: 60px;
}

.next {
    right: 25px;
}

.products {
    position: relative;
    background: url(../images/product-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
    background-position: center;
}

.product {
    display: inline-block;
    padding: 10px;
}

.blog-title h4 {
    color: #db812e;
    text-align: center;
    font-weight: 600;
    margin-top: 30px;
    font-size: 18px;
}

.blog-title h1 {
    color: #252528;
    font-weight: 300;
    font-size: 48px;
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}
.gallery-title h1
{
    color: #db812e;
    font-weight: 300;
    font-size: 48px;
    text-align: center;
    margin-bottom: 18px;
    font-family: 'Roboto Condensed', sans-serif;
}

.blog {
    min-height: 240px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.gallery
{
    background:#e0e0e0;
    height: 470px;
}

.blog-date {
    color: #db812e;
    font-size: 18px;
    font-style: italic;
}

.blog-text {
    color: #333333;
    font-size: 18px;
}

.bg-black {
    background: #000000;
    color: rgba(255, 255, 255, 1);
    border: 1px solid #db812e;
}

.bg-white {
    background: rgba(255, 255, 255, 1);
    color: #000000;
    border: 1px solid #000000;
}

.author {
    color: #000;
    line-height: 17px;
    font-weight: 300;
}

.blogs {
    position: relative;
}

.button-btn {
    margin-top: 60px;
}

.blog-box {
    position: absolute;
    width: 320px;
    height: 500px;
    border: 15px solid #333333;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: -1;
}

.contact {
    background: url(../images/contact-img.png);
    height: 430px;
    background-repeat: no-repeat;
    /*display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;*/
    padding-bottom: 40px;
    background-position: center;
    background-size: cover;
}

.contact-title h4 {
    color: #db812e;
    margin-bottom: 4px;
    font-weight: 600;
    font-size: 18px;
}

.contact-title h1 {
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

.contact-details p {
    font-size: 18px;
    margin-top: 20px;
    color: #fff;
}

.footer {
    background: url("../images/landing-back.jpg");
    overflow: hidden;
    background-repeat: repeat;
    background-position: center;
    border-top: 1px solid #000000;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 30px 0;
}

.social-icon {
    padding-right: 10px;
}

.social-icon li {
    display: inline-block;
    padding: 0 5px;
}

.social-icon li a {
    color: rgba(255, 255, 255, 1);
}

.social-icon li a:hover {
    color: #db812e;
}

.footer-copyright {
    background: #000000;
    padding: 10px 25px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: lighter;
}

.backTo {
    height: 35px;
    width: 40px;
}

.rc-anchor-light.rc-anchor-normal {
    border: 1px solid #0a0a0a;
}



/* blog */

.blog-top {
    height: 300px;
    background: url(../images/blog.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.blog-top h1 {
    font-size: 48px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #000;
}

.franchise-title h1 {
    font-size: 48px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #000;
}

.franchise-title h4 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #000;
    margin: 0;
}

.blog-content h3 {
    color: #000;
    margin-bottom: 15px;
    margin-top: 40px;
    font-family: 'Roboto Condensed', sans-serif;
}

.blog-details {
    color: #000;
    margin-top: 15px;
}

.blog-list {
    padding: 85px 0;
}

.blog-img img {
    width: 100%;
}

.blog-page {
    margin: 0 10px;
    min-height: 550px;
}

.blog-link {
    color: #000;
    font-weight: 600;
    text-decoration: none;
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
}

.blog-link-left {
    color: #000;
    font-weight: 600;
    text-decoration: none;
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
}

.blog-link-left:hover {
    color: #000;
    text-decoration: none;
}

.blog-link:hover {
    color: #000;
    text-decoration: none;
}

.blog-link:hover i {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
}

.blog-link-left:hover i {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
}

.mTop-40 {
    margin-top: 40px;
}




/* contact */

.border {
    border-right: 1px solid #000 !important;
}

.nav-tabs.nav-justified>li>a {
    border-radius: 0 !important;
    border: 0 !important;
    font-size: 18px;
    color: #000;
    font-family: 'Roboto Condensed', sans-serif;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: #F07D00;
}

#col {
    border-right: 0 !important;
}

.pull-left {
    padding-right: 15px;
}

.tab-content {
    padding: 50px 100px;
}

.panel-heading a {
    color: #000000;
    text-decoration: none;
    display: inline-block;
    width: 100%;
}
.panel-default>.panel-heading
{
    background: #fff;
    border: 0px;
}
.nav-tabs.nav-justified
{
    width:60%;
    margin: auto;
}
.panel-body {
    
    color: #333333;
}

.contact-top {
    height: 300px;
    background: url(../images/contact-page.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contact-head h1 {
    font-size: 48px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #333333;
    margin: 0;
}

.contact-head h4 {
    color: #333333;
    font-weight: 600;
}

.contact-p {
    font-size: 18px;
    margin-top: 20px;
    color: #333333;
}

.contact-p p {
    padding-bottom: 10px;
}

.contact-p img {
    padding-right: 10px;
}

.faq {
    padding: 50px 0;
}

.faq-title h1 {
    color: #000;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 48px;
    margin-bottom: 20px;
}

.form-container {
    width: 550px;
    margin: 0 auto;
}

.contact-form {
    padding: 70px 0;
}

.contact-btn {
    text-decoration: none;
    padding: 5px 48px;
    border-radius: 5px;
}

.breadcrumb-blog {
    padding: 20px;
    background: #EFEFEF;
}

.breadcrumb-blog p {
    font-size: 13px;
    font-style: italic;
    margin: 0;
    color: #000;
}

.container-blog {
    width: 70%;
    margin: 0 auto;
    padding-top: 50px;
}

.heading-blog h2 {
    color: #000;
    font-family: 'Roboto Condensed', sans-serif;
}

.blog-author .blog-date {
    padding-left: 30px;
}

.blog-page-content {
    padding: 20px 0;
}

.social-share {
    border-top: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
    padding: 10px;
}

.next-title h1 {
    color: #000;
    margin: 30px 0;
}

.next-post {
    display: inline-block;
    padding-bottom: 30px;
}

.also-post h3 a {
    color: #000;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
}

.also-post h3 a:hover {
    color: #000;
    text-decoration: none;
}

.blog-page-img img {

    width: 100%;
}




/* Modal */

.modal-title {
    color: #db812e;
    font-weight: 700;
    padding: 15px 15px;
}

.modal-body {
    /*padding: 0px 120px 30px;*/
    display: inline-block;
}

.modal-content {
    border-radius: 0px;
}

.submit-btn {
    text-decoration: none;
    padding: 3px 30px;
    border-radius: 7px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-width: 0px;
    font-size: 12px;
    color: #fff !important;
}
.success
{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.submit-btn:hover {
    text-decoration: none;
    color: #db812e;
}

button.close {
    padding-top: 10px;
    padding-right: 15px;
}

.modal-content {
    background: #F5F5F5;
}

.modal-body .form-control {
    background: #F5F5F5;
    border: 1px solid #000;
    color: #000;
}

ul#suggestedService li span {
    display: none;
}

.all-service h5 {
    color: #000;
}

.ui-widget.ui-widget-content {
    background: #F5F5F5 !important;
    border: 1px solid #000 !important;
    
}

ul.tagit li.tagit-choice-editable {
    font-size: 12px;
    padding: 0px 20px 0px 5px !important;
    font-family: 'Roboto Condensed', sans-serif;
    color: #333333;
}

ul.tagit li.tagit-new {
    padding: 0px 20px 0px 5px !important;
}

.dtp-buttons button {
    background: transparent;
    color: #000;
    margin-top: -40px;
    font-weight: 700;
}

.contact-details img {
    padding-right: 10px;
}

.franchise-top {
    background: url(../images/franchise.jpg);
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-popup div {
    margin: 0px 1px 0px auto;
}

#careers .modal-body {
    padding: 0px 60px 30px;
}

.suggested.active {
    height: 40px;
    overflow: hidden;
}

.suggested.active .servicehide {
    display: none;
}

.createby a {
    color: #fff;
    text-decoration: none;
}

.createby a:hover {
    color: #db812e;
    text-decoration: none;
}

.blog-page-content p {
    font-weight: 500;
    text-align: justify;
    font-size: 15px;
    word-spacing: 1px;
    color: #585858;
}

.heading {
    font-weight: 600 !important;
}

.saloon_address h5,
.office-address h5 {
    color: #db812e;
    font-weight: 600;
    margin: 0;
    padding-top: 12px;
}

.address p {
    padding-top: 12px;
    line-height: 20px;
    text-align: left;
}

.address-div {
    padding-top: 10px;
}

#map {
    height: 400px;
}

.map>div {
    padding: 0px 50px 50px 50px;
}

.gm-style-iw div {
    font-family: 'Roboto Condensed', sans-serif;
    color: #000000;
    font-size: 15px;
    line-height: 23px;
}

.input-group[class*=col-] {
    float: left !important;
    padding-left: unset !important;
    padding-right: unset !important;
}

.service-mobile {
    margin: 0;
    background: url("../images/landing-back.jpg");
    height: 100%;
    overflow-y: auto;
    left: 0;
    padding: 0px 10px;
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 9999;
    transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.service-mobile.active {

    visibility: visible;
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
}

.ui-autocomplete {
    z-index: 99999999 !important;
}

.ui-widget-content.ui-corner-all.active {
    height: 100%;
}

.datetimepicker {
    color: #000;
}

.tagit-autocomplete {
    height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.book-box {
    background: url("../images/landing-back.jpg");
    list-style: none;
    padding: 20px;
    border-radius: 4px;
    height: 384px;
    overflow-y: scroll;
}

.book-box li {
    cursor: pointer;
    line-height: 15px;
    padding: 5px 0;
}

.service-book li {
    list-style: none;
    cursor: pointer;
    padding: 5px 7px;
    line-height: 17px;
}

.service-book li.active {
    color: #db812e;
    border:1px solid;
    border-radius: 2px;
}

.service-book {
    height: 384px;
    overflow-y: scroll;
    background: #000;
    padding: 15px;
    border-radius: 4px;
}


body ::-webkit-scrollbar {
    width: 5px;
}

body ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body ::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

body::-moz-scrollbar {
    width: 1em;
}

body::-moz-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-moz-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}


.book-container h3 {
    color: #db812e;
    font-weight: 600;
    text-align: center;
}

.book-container {
    padding: 40px 0;
}

.contact-title {
    padding-top: 135px;
}

.servicename-mobile {
    height: 380px;
    overflow-y: scroll;
}

textarea.form-control {
    color: #000;
}

.form h4 {
    margin-top: 10px;
    color: #000;
    font-weight: 600;
}

#book-appointment .input-group-addon {
    border: 1px solid #000;
    border-right: 0px;
}

.contact-details a {
    color: #fff;
    text-decoration: none;
}

.contact-details a:hover {
    color: #fff;
    text-decoration: none;
}

.brand-text {
    padding: 50px 0;
}

.heading-blog h4 {
    color: #000;
    font-weight: 600;
    margin: 0px;
    padding-bottom: 5px;
}

#header-fixed {
    position: fixed;
    top: 0px;
    display: none;
}

div#book .modal-body {
    padding-bottom: 50px;
}

.feedback-page {
    height: 100vh;
    position: relative;
}

.feedback-page p {
    color: #000;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0;
}

.feedback-page a {
    text-decoration: none;
}

.feedback-page a:hover {
    text-decoration: none;
}

.box-shadow {
    -webkit-box-shadow: 0px 0px 22px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 22px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 22px 2px rgba(0, 0, 0, 0.2);
    height: 90px;
    margin: 20px 80px 20px 35px;
    border-radius: 10px;
    padding: 0 20px;
}

.menu-title h1 {
    color: #db812e;
    font-size: 48px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

.menu-service {
    background: #252429;
    height: 500px;
    padding: 20px 15px 15px 25px;
    border-radius: 4px;
}

.menu-service h4 {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 25px;
    color: #db812e;
    font-size: 24px;
}

.menu-names {
    height: 400px !important;
}

.menu-service li {
    cursor: pointer;
    padding: 5px;
}

.menu-box {
    height: 500px;
    overflow: hidden;
    background: url(../images/landing-back.jpg);
    margin-left: 35px;
    border-radius: 4px;
}

.menu-box ul li {
    height: 400px !important;
    overflow-y: scroll;
}

.search:focus {
    border: 0;
    outline: 0;
    box-shadow: none;
}

.txt-search {
    border-bottom-left-radius: 20px !important;
    border-top-left-radius: 20px !important;
    background: #CCCCCC;
    font-size: 16px;
    box-shadow: none !important;
}

.home-search span {
  
    border-bottom-right-radius: 20px !important;
    border-top-right-radius: 20px !important;
    background: #CCCCCC;
}
.select2-container--default .select2-selection--single {
    background-color: #F5F5F5 !important;
    border: 1px solid #000 !important;
   
}
.select2-dropdown
{
    background-color: #F5F5F5 !important;
    border: 1px solid #000 !important;
    color: #000;
    font-family: 'Roboto Condensed', sans-serif;
}
.select2-container--default .select2-selection--single .select2-selection__rendered
{
    color: #000 !important;
    font-family: 'Roboto Condensed', sans-serif;
}
.select2-selection__arrow b
{
    border-color:#000 transparent transparent transparent !important;
}
.servicename-mobile li
{
    padding: 5px 0;
}
.menu-names li.active
{
    color: #db812e;
}
.search-pop i
{
   
    cursor: pointer;
    
}
.filter-records
{
 
 background: url(../images/landing-back.jpg);
 height: 500px;
 overflow-y: scroll;
 overflow-x: hidden;
 display: none;
 border-radius: 4px;
}
.search-services
{
    display: none;
    background: rgba(37,36,41, 0.95);
}
.box-width h5
{
    font-size: 20px;
    color: #db812e;
    font-weight: 600;
}
.box-width>div
{
    margin-top: 20px;
    
}
.box-width .tableHead div {
    padding: 5px 10px;
    background: #333333;
}
.box-width .tableBody td {
    padding: 0px 15px;
}
.search-services.open
{   
    display: block;
    width: 100%;
    height: 100%;
    z-index: 99999;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    

}
.close-btn i
{
    cursor: pointer;
    position: relative;
    right: 60px;
    top: 40px;
}

.txt-search
{
    height: 42px;
}
.txt-search:focus
{
    border-color: #ccc !important;
    box-shadow: none;
}
.input-lg
{
    height: 50px;
    font-size: 18px;
    color: #fff;
    background: rgba(255, 255, 255, 0.5);
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}
.input-lg::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #fff !important;
    font-size: 18px;
}
.input-lg:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #fff !important;
    opacity: 1;
    font-size: 18px;
}
.input-lg::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #fff !important;
    opacity: 1;
    font-size: 18px;
}
.input-lg:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff !important;
    font-size: 18px;
}
.txt-search:-ms-input-placeholder {
  color: #252429 !important;
  font-size: 15px;
}
.txt-search::-moz-placeholder {
  color: #252429 !important;
  font-size: 15px;
}
.txt-search::-webkit-input-placeholder {
    color: #252429 !important;
    font-size: 15px;
}
.txt-search:-moz-placeholder {
    color: #252429 !important;
    font-size: 15px;
}
.box-shadow img
{
    margin: auto;
}

.mob-wheel
{
    position: absolute;
    z-index: 1;
    top: -15px;
    opacity: 0.1;
}
.elem, .elem * {
    box-sizing: border-box;
    margin: 0 !important;   
    max-width: 100%;
}
.elem {
    display: inline-block;
    font-size: 0;
    border-bottom: none;
    background: #fff;
    padding: 2px;
    height: auto;
    background-clip: padding-box;
}
.elem.active
{
    opacity: 0.5;
    filter: grayscale(100%);
    transition: all 0.3s;
}
.elem > span {
    display: block;
    cursor: pointer;
    height: 0;
    padding-bottom: 70%;
    background-size: cover; 
    background-position: center center;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: .3s ease;
  
  }
  #loading-image {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.75);
    z-index: 1100;
    text-align: center;
}
#loading-image img {
    width: 100px;
    top: 50%;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 9999;
}


.icon {
  color: #FFF;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width: 50px;
    height: 50px;
    background: black;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 8px 0px 0px 5px;
}
.overlay.active {
  display: block;
}
.gallery-page
{
    padding: 50px 0;
}
.img-iframe
{
    position: relative;
}
p.include {
  
    position: relative;
    top: -25px;
    color: #db812e;
    font-size: 15px;
    margin-bottom: 0px;
    font-weight: 500;
}
.testimonial{ 
    margin: 0 30px;
    min-height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.testimonial img
{
    margin: 15px auto;
}
.testimonial-content p
{
    text-align: center;
    font-size: 16px;
    margin: 0;

}
.test-title h1
{
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 15px;
    color: #db812e;
    font-size: 35px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}
.testimonial-block
{
    height: 550px;
    background: url(../images/landing-back.jpg);
    position: relative;
}
hr
{
    border: 1px solid #989898;
    margin: 15px auto;
}
.reviews h3
{
    font-family: 'Roboto Condensed', sans-serif;
    margin:0;
    color: #db812e;
}
.carousel-indicators {
    position: relative !important;
    bottom: unset !important;
    left: unset !important; 
    z-index: 15;
    width: unset !important; 
    padding-left: 0;
    margin-left: unset !important; 
    text-align: center;
    list-style: none;
}
.logo-o {
    position: absolute;
    height: 480px;
    top: -2px;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 0;
    bottom: 0;
}
a.right-img img {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: -100px;
    height: 30px;
    opacity: 0.3;
}
a.left-img img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    left: -100px;
    height: 30px;
    opacity: 0.3;
}
body.modal-open {
    padding-right: 5px;
}

.list-table {
    width: 100%;
}
.col-heading-1
{
    /*width: 40%;
    float: left;
    vertical-align: middle;*/
     -webkit-box-flex:2;
        -ms-flex:2;
            flex:2;

}
.col-heading-2
{
    /*width: 12%;
    float: left;
    vertical-align: middle;*/
     -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;

}
.col-heading-3
{
    /*width: 15%;
    float: left;
    vertical-align: middle;*/
    font-size: 36px;
    /* -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;*/

    
}
.col-heading-4
{
    /*width: 15%;
    float: left;
    vertical-align: middle;*/
     /*-webkit-box-flex:1;
        -ms-flex:1;
            flex:1;*/

}
.col-heading-5
{
    /*width: 15%;
    float: left;
    vertical-align: middle;*/
     -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;

}
.col-heading-6
{
    /*width: 15%;
    float: left;
    vertical-align: middle;*/
     -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;
    
}
.list-table .clear {
    clear: both;
}
.list-table .detail .col-1 {
    /*width: 40%;
    float: left;*/
     -webkit-box-flex:2;
        -ms-flex:2;
            flex:2;
            line-height: 18px;

}
.list-table .detail .col-2 {
    /*width: 12%;
    float: left;*/
     -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;

}
.list-table .detail .col-3 {
   /* width: 15%;
    float: left;*/
    font-size: 36px;
 /*-webkit-box-flex:1;
        -ms-flex:1;
            flex:1;*/

}
.list-table .detail .col-4 {
    /*width: 15%;
    float: left;*/
     /*-webkit-box-flex:1;
        -ms-flex:1;
            flex:1;*/

}
.list-table .detail .col-5 {
    /*width: 15%;
    float: left;*/
     -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;

}
.list-table .detail .col-6 {
    /*width: 15%;
    float: left;*/
     -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;

}
.detail
{
	cursor: pointer;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
}
.heading-row div
{
    background: #333333;
    padding: 5px 5px 5px 15px;
    border-radius: 0px;
    color: #acacac;
    font-weight: 600;
}
.detail div
{
    padding: 5px 5px 0px 15px;
    font-size: 13px;
}
.heading-row {
position: sticky;
top: 0;
display:-webkit-box;
    display:-ms-flexbox;
    display:flex;

}
.tableHead{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    font-weight: 600;
}
.tableHead .one{
    -webkit-box-flex:2;
        -ms-flex:2;
            flex:2;
}
.tableHead .two{
    -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;
            padding:5px 10px;
}
.tableHead .three{
    /*-webkit-box-flex:1;
        -ms-flex:1;
            flex:1;*/
            padding:5px 10px;
}
.tableHead .four{
    -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;
            padding: 5px 10px;
}
.tableHead .five{
    -webkit-box-flex:2;
        -ms-flex:2;
            flex:2;
}
.tableBody 
{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
}
.tableBody .one
{
    -webkit-box-flex:2;
        -ms-flex:2;
            flex:2;
            padding:5px 3px 3px 16px;
}
.tableBody .two
{
    -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;
            padding: 5px 10px;
}
.tableBody .three
{
    /*webkit-box-flex:1;
        -ms-flex:1;
            flex:1;*/
            padding: 5px 10px;
}
.tableBody .four
{
    -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;
            padding: 5px 10px;
}
.tableBody .five
{
    -webkit-box-flex:2;
        -ms-flex:2;
            flex:2;
}
p.discription {
    background: #000;
    line-height: 16px;
    padding: 45px 20px 20px 32px;
    font-size: 12px;
    border-bottom: 1px solid #db812e;
    margin: 0;
}
.accordion, .accordion * {
    -webkit-box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    box-sizing:border-box;
}

.accordion {
    overflow:hidden;
    box-shadow:0px 1px 3px rgba(0,0,0,0.25);
    border-radius:3px;
    background:#f7f7f7;
}

/*----- Section Titles -----*/
.accordion-section-title {
    width:100%;
    padding:6px 15px;
    display:inline-block;
    border-bottom:1px solid #1a1a1a;
    background:url(../images/landing-back.jpg);
   /* transition:all linear 0.15s;*/
    /* Type */
    font-size:1.200em;
    text-shadow:0px 1px 0px #1a1a1a;
    color:#fff;
    font-weight: 600;
}

.accordion-section-title.active, .accordion-section-title:hover {
    background:#4c4c4c;
    text-decoration:none;
}

.accordion-section:last-child .accordion-section-title {
    border-bottom:none;
}

/*----- Section Content -----*/
.accordion-section-content {
    padding:15px 40px;
    display:none;
    color: #000;
}
.accordion-section-title:hover
{
    color: #fff;
}
.accordion-section-title:before
{
font-family:'Glyphicons Halflings';
 content: "\e080";
 margin-right: 5px;
}
.accordion-section-title.active:before
{
 content: "\e113";
 margin-right: 5px;
}
.gm-style-iw a {
    color: #DB812E;
    text-decoration: none;
}
.contact-p a {
    color: #333333;
    text-decoration: none;
}
.contact-p a:hover {
    color: #333333;
    text-decoration: none;
}
.faq-link
{
    position: absolute;
    top: 20px;
    right: 40px;
    color: #db812e;
    font-size: 13px;
    z-index: 99;
}
.faq-link:hover
{
    text-decoration: none;
    color: #db812e;
}
.faq-tel
{
    color: #000;
}
.faq-tel:hover
{
    color: #000;
    text-decoration: none;
}
.faq-tel:focus
{
    color: #000;
    text-decoration: none;
}
.footer-map
{
    color: #fff;
    text-align: center;
}
.footer-map:hover
{
    color: #fff;
    text-decoration: none;
}
.footer-map:focus
{
    color: #fff;
    text-decoration: none;
}
.footer-map img {
    padding-top: 12px;
}
a.franchise-btn {
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px solid #fff;
}
.search-p
{
   padding: 33px 10px 5px 30px;
}
@media screen and (max-width: 991px) {
    .clear
    {
        clear: both;
        padding:5px;
    }
    .mobPad div:first-child {
    
    line-height: 18px;
}
 .accordion-section-title
 {
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 7px;
 }
    ul#faq a {
    font-size: 15px;
    padding: 5px !important;
    }
    
    .nav-tabs.nav-justified
    {
        width:100%;
    }
    .heading-row div
    {
        padding: 5px;
        font-size: 11px;
        font-weight: 700;
    }
    .detail div
    {
        padding: 5px;
        font-size: 12px;
    }
    p.include
    {
        text-align: center;
    }
    .col-1
    {
        line-height: 16px;
    }
    .arrows
    {
        text-align:center;
        padding: 20px 0;
    }
    .arrows a
    {
        margin-right: 10px;
    }
    .left-img img
    {
        display:inline;
        width: 30px;
        position:unset !important;

    }
    .right-img img
    {
        display: inline;
        width: 30px;
        position: unset !important;
    }
    .testimonial-content p
    {
        font-size: 14px;
    }
    .testimonial
    {
        margin: 0;
        min-height: 390px;
    }
    .testimonial-block
    {
        height: auto;
        padding:20px 10px;
    }
    .bx-wrapper .bx-pager {
        bottom: 30px !important;
        top: unset;
        left: unset;
        width: 100% !important;
        display: inline-block;
    }
    .brand-text h1 {
        font-size: 50px;
    }
    .slider-offset {
        margin-top: 0px;
        margin-left: 0px;
    }
    .landing-circle {
        height: 100%;
    }
    .booking-section {
        height: 100%;
    }
    .whoweare {
        height: 100%;
        padding: 40px 0;
        background: #000;
    }
    .services {


        height: 100%;
        padding: 50px 0;
        background: #F5F5F5;
    }
    .products {
        height: 550px;
        padding: 35px;
        background-attachment: fixed;
    }
    .blogs {
        height: 100%;
    }
    .logo {
        padding: 0px;
    }
    .whoweare-content {
        text-align: center;
        padding: 0 20px;
    }
    .service-title h1 {
        margin-left: 0px;
        text-align: center;
    }
    /*.service-mobile li {
        display: none;
    }*/
    .list-service li {
        padding: 5px 10px;
    }
    .list-service {
        padding: 5px;
    }
    .service-mobile li.active {
        display: block !important;
    }
    .servicename-mobile {
        list-style: none;
        font-weight: 600;
        padding: 0 40px;
        color: #000;
    }
    .servicename-mobile img {
        padding: 5px 10px;
    }


    nav.footer-menu ul li {
        display: block;
        text-align: center;
    }
    .footer-logo img {
        margin: auto;
    }
    .social-icon {
        text-align: center;
        padding: 0;
    }
    .footer-copyright div {
        text-align: center;
    }

    .form-container {
        width: 100%;
    }
    .container-blog {
        width: 100%;
    }
    .also-post {
        padding-bottom: 50px;
    }
    .tab-content {
        padding: 0;
    }
    .nav-tabs.nav-justified {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 30px 0;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .border {
        border-right: 1px solid #db812e !important;
        text-align: center;
        font-size: 12px;
        padding: 0;
    }
    .border a {
        display: block;
        color: #000;
        text-decoration: none;
        padding: 5px !important;
       
    }
    .panel-body {
        padding: 15px 0px;
    }
    .modal-body {
        padding: 15px;
    }
    .m-top-45-minus {
        margin-top: 0px;
    }
    #careers .modal-body {
        padding: 0 0 30px 0;
        display: block;
    }
    .saloon_address h5,
    .office-address h5 {
        text-align: center;
    }
    .address-div .align-vertical {
        justify-content: center;
    }
    .contact {
        height: 100%;
        background: url("../images/landing-back.jpg");
        margin-top: 50px;
        padding-top: 30px;
        text-align: center;
    }
    .contact-details {
        padding-top: 10px;
    }
    .padRight {
        padding: 0px;
    }
    .franchise-top {
        background-position-x: right;
    }
    .contact-top {
        background-position: unset;
    }
    .map>div {
        padding: 30px 0 0 0;
    }
    .blog-top {
        background-position: right;
    }
    .blog-page {
        min-height: 470px;
        padding-bottom: 30px;
    }
    button.close {
        position: relative;
        z-index: 9999;
    }
    .phone-contact {
        top: unset !important;
        bottom: 10% !important;
    }
    .phone-contact1 {
        top: unset !important;
        bottom: 10% !important;
    }
    .hide-service,
    .blog-box {
        display: none;
    }
    .contact-title {
        padding-top: 0px;
    }
    .blog {
        padding-bottom: 30px;
    }
    .orange-wheel img {
        height: 300px !important;
    }
    .box-width
    {
        padding: 5px;
    }
    .box-width table th {
    padding: 0px 4px;
   }
.box-width table td {
    padding: 0px 4px;
}
.close-btn i
{
   right: 18px;
    top: 10px;
}
.input-lg
{
    margin-top: 20px;
}
.box-width .flex-content
{
    display: block;
}
.search-pop i
{
    padding-top: 15px;
    color: #db812e;
}
.servicename-mobile li
{
    font-size: 15px;
}
.txt-search
{
    border-radius: 4px !important;
}
.g-recaptcha
{
    transform:scale(0.77);
    transform-origin:0 0;
}
.g-recaptcha>div
{
    width: 210px !important;
}
.mobPad
{
    padding:0;
    font-size: 11px;
}
.box-width .tableHead div
{
    padding:8px ;
    text-align: center;
}
.elem
{
    width: 100%;
}

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

    .orange-wheel img {
        height: 300px;
    }
    .landing-page {
        overflow: hidden;
    }
    .whoweare {
        height: 500px;
    }
    .products {
        background-size: unset;
    }
    .landing-page {
        height: 630px;
    }
    nav.desktop-menu ul {
        padding-right: 0;
        padding-left: 0;
    }
}
